@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

@section styles{
    <style type="text/css">
        .petLabel {
            font-size: 16px;
        }

        .providerInput {
            display: inline-block;
            padding-left: 50px;
        }

        .submitbtn {
            font-size: 18px;
            padding: 14px 20px;
            border-radius: 12px;
            background-color:aquamarine;
        }
    </style>
}

    <div class="panel" style="background-color: blanchedalmond">
        <div style="padding-top:100px" ng-app="spicyApp1">
            <div ng-controller="SpicyController">
                <div class="panel-body">
                    <div>
                        <h2 id="top" style="padding-left:50px; padding-bottom: 50px">Add Care Provider</h2>
                        <form class="form-group-lg" id="providerInformation" name="providerInformation" ng-model="addProvider" validate>
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="providerInput row">
                                        <label for="FirstName" class="col-sm-6 petLabel">First Name</label>
                                        <input type="text" id="firstName" name="FirstName"
                                               placeholder="Between 3 and 25 characters"
                                               required class="form-control" ng-model="addProvider.firstName" /><br />
                                    </span>
                                    <span class="providerInput row">
                                        <label for="Last Name" class="col-sm-6 petLabel">Last Name</label>

                                        <input type="text" id="lastName" name="LastName"
                                               placeholder="Between 3 and 25 characters"
                                               required class="form-control" ng-model="addProvider.lastName" /><br />
                                    </span>
                                    <span class="providerInput row">
                                        <label for="Email" class="col-sm-6 petLabel">Email</label>

                                        <input type="email" id="email" name="Email"
                                               placeholder="Between 3 and 25 characters"
                                               required class="form-control" ng-model="addProvider.email" /><br />
                                    </span>
                                    <span class="providerInput row">
                                        <label for="Phone Number" class="col-sm-6 petLabel">Phone Number</label>

                                        <input type="text" id="phoneNumber" name="PhoneNumber"
                                               placeholder="At least 10 characters"
                                               required class="form-control" ng-model="addProvider.phoneNumber" /><br />
                                    </span>
                                    <span class="providerInput row">
                                        <label class="col-sm-12 petLabel">Provider Description and Specialties</label>
                                        <textarea id="specialty" rows="4" name="Specialty"
                                                  placeholder="Enter a description of the services provided and the provider's specialties"
                                                  required class="form-control" ng-model="addProvider.specialty"></textarea><br />
                                    </span>
                                    <span class="providerInput row">
                                        <label class="col-sm-12 petLabel">General Availability</label>
                                        <input type="text" id="availableForHire" name="availableForHire"
                                               placeholder="Describe general availability"
                                               required class="form-control" ng-model="addProvider.availableForHire" /><br />
                                    </span>
                                    <span class="providerInput row">
                                        <label class="col-sm-12 petLabel">Select Area of Expertise</label>
                                        <span class="col-sm-6">
                                            <select id="expertise" select name="Expertise" class="chosen-select" ng-model="addProvider.expertise">
                                                <option value="">--</option>
                                                <option value="1">Pet Sitting</option>
                                                <option value="2">Grooming</option>
                                                <option value="3">Training</option>
                                                <option value="4">Walking/Exercise</option>
                                            </select>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6" style="padding-left: 40px">
                                <button type="button" id="submitButton" class="submitbtn"
                                        ng-click="addProvider()">
                                    Submit Form
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section scripts {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script type="text/javascript">

        var myApp = angular.module('spicyApp1', []);

        myApp.controller('SpicyController', ['$scope', '$location', function ($scope, $location) {

            var vm = $scope;

            vm.items = null;
            vm.providerInformation = null;
            vm.addProvider = _addProvider;
            vm.onPostSuccess = _onPostSuccess;
            vm.onPostError = _onPostError;


            function _addProvider() {

                var url = "/api/providers";
                var myData = $("#providerInformation").serialize();

                var settings = {
                    cache: false
                    , contentType: "application/x-www-form-urlencoded; charset=UTF-8"
                    , data: myData
                    , dataType: "json"
                    , success: vm.onPostSuccess
                    , error: vm.onPostError
                    , type: "POST"
                };

                $.ajax(url, settings);
            }

            function _onPostSuccess() {
                 console.log("success");
 
                $location.path = '/provider/providerlist';
                var frm = document.getElementsByName('providerInformation')[0];
                frm.submit();
                frm.reset(); 
                return false;
            }

            function _onPostError(jqXhr, error) {
                console.log("error");
   
            }

 
        }]);

    </script>
}
