@model WebApplication3.Models.ViewModels.ItemViewModel<int?>
@{

    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

@section styles{
    <style type="text/css">
        .displayName {
            font-size: 16px;
        }

        .providerInput {
            display: inline-block;
            padding-left: 50px;
        }

        .providerLabel {
            font-weight: bold;
        }

        .providerName {
            font-size: 20px;
            font-weight: bold;
        }

        .description {
            font-style: italic;
        }

        .singleProvider {
            font-size: 14px;
            background-color: beige;
            border: 10px solid white;
        }

        .petLabel {
            font-size: 16px;
        }

    </style>
}

    <div style="padding-top:100px; background-color: blanchedalmond" ng-app="listApp1">
        <div ng-controller="ListController">
    
                    @*Hidden Div for update*@
            <div ng-hide="!showUpdateForm" style="padding-left:50px; padding-bottom: 50px">
                <h3>Update Provider Information</h3>

                <form class="form-group-lg" id="providerInformation" ng-model="updateProvider" validate>
                    <div class="formBody">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="providerInput row">
                                    <label for="FirstName" class="col-sm-6 petLabel">First Name</label>

                                    <input type="text" id="firstName" name="FirstName" placeholder="First Name"
                                           required class="form-control" ng-model="aProviderDetails.FirstName" /><br />

                                </span>
                                <span class="providerInput row">
                                    <label for="Last Name" class="col-sm-6 petLabel">Last Name</label>

                                    <input type="text" id="lastName" name="LastName"
                                           placeholder="Last Name"
                                           required class="form-control" ng-model="aProviderDetails.LastName" /><br />

                                </span>
                                <span class="providerInput row">
                                    <label for="Email" class="col-sm-6 petLabel">Email</label>

                                    <input type="email" id="email" name="Email"
                                           laceholder="Email"
                                           required class="form-control" ng-model="aProviderDetails.Email" /><br />

                                </span>
                                <span class="providerInput row">
                                    <label for="Phone Number" class="col-sm-6 petLabel">Phone Number</label>

                                    <input type="text" id="phoneNumber" name="PhoneNumber"
                                           placeholder="Phone Number"
                                           required class="form-control" ng-model="aProviderDetails.PhoneNumber" /><br />

                                    <span class="providerInput row">
                                        <label class="col-sm-10 petLabel">Provider Description and Specialties</label>
                                        <textarea id="specialty" rows="4" name="Specialty"
                                                  placeholder="Enter a description of the services provided and the provider's specialties"
                                                  required class="form-control" ng-model="aProviderDetails.Specialty"></textarea><br />
                                    </span>
                                    <span class="providerInput row">
                                        <label class="col-sm-6 petLabel">General Availability</label>
                                        <input type="text" id="availableForHire" name="availableForHire"
                                               placeholder="Describe general availability"
                                               required class="form-control" ng-model="aProviderDetails.AvailableForHire" /><br />
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
                <div style="padding-bottom:15px; padding-left:50px">
                    <button class="btn btn-default" style="background-color:aquamarine; align-items:center" ng-click="submitUpdate(aProviderDetails.Id)">OK</button>
                    <button class="btn btn-default" style="background-color:lightgreen; align-items:center" ng-click="cancelUpdate()">Cancel</button>
                </div>
            </div>


            @*Get List*@
            <div class="row" style="background-color: blanchedalmond">
                <h2 style="padding-left:50px">All Pet Care Providers</h2>
                <div class="panel col-md-12" style="background-color:beige">
                    <div class="panel-body" id="providerList">
                        <div class="row">
                            <div class="content-box-wrapper col-md-12" data-ng-repeat="provider in items track by provider.Id">
                                <div class="panel-body text-left">
                                    <div class="singleProvider">
                                        <div class="providerBox" style="padding:25px">
                                            <div class="providerName"><span>{{provider.FirstName}} {{provider.LastName}}</span></div>
                                            <div class="displayName"><span><i class="fa fa-envelope"></i><span> {{provider.Email}}</span></span></div>
                                            <div class="displayName"><span><i class="fa fa-phone"></i><span> {{provider.PhoneNumber}}</span></span></div>
                                            <br />
                                            <div class="displayName"><span class="providerLabel">About me: </span><br /><span class="description">{{provider.Specialty}}</span></div><br />
                                            <div class="displayName"><span class="providerLabel">Current availability: </span><br /><span class="description">{{provider.AvailableForHire}}</span></div>

                                            <div class="btn-group">
                                                <button type="button" ng-click="updateProvider(provider)" class="btn btn-default" style="background-color:aquamarine">Edit</button>
                                            </div>
                                            <div class="btn-group">
                                                <button type="button" ng-click="deleteProvider(provider)" class="btn btn-default" style="background-color:lightgreen">Delete</button>
                                            </div>
        
                                        </div>

                                    </div>
                                    <hr />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


@section scripts {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/web.services.providers.js"></script>
    <script>providerId = '@Model.Item';</script>


    <script type="text/javascript">

        var myApp = angular.module('listApp1', []);

        myApp.controller('ListController', ['$scope', function ($scope) {
            var vm = $scope;


            vm.items = null;
            vm.receiveItems = _receiveItems;
             vm.provider = null;
            vm.showUpdateForm = false;


            vm.provider = {};

            vm.onGetSuccess = _onGetSuccess;
            vm.onGetError = _onGetError;
            vm.onPutSuccess = _onPutSuccess;
            vm.onPutError = _onPutError;
            vm.updateProvider = _updateProvider;
            vm.submitUpdate = _submitUpdate;
            vm.deleteProvider = _deleteProvider;
            vm.onDeleteSuccess = _onDeleteSuccess;
            vm.onDeleteError = _onDeleteError;
            vm.populateUpdateForm = _populateUpdateForm;
            vm.cancelUpdate = _cancelUpdate;
            vm.fireAlert = _fireAlert;


            render();

            function render() {
                var url = "/api/providers";

                var settings = {
                    cache: false
                    , contentType: "application/x-www-form-urlencoded; charset=UTF-8"
                    , dataType: "json"
                    , success: vm.receiveItems
                    , error: vm.onGetError
                    , type: "GET"
                };

                $.ajax(url, settings);


            }

            function _receiveItems(data) {

                vm.$apply(function () {
                    vm.items = data.Items;

                    console.log(vm.items);

                });
            }


            function _updateProvider(aProvider) {

                vm.showUpdateForm = true;

                var url = "/api/providers/" + aProvider.Id;
                var settings = {
                    cache: false
                , contentType: "application/x-wwwa-form-urlencoded; charset=UTF-8"
                , dataType: "json"
                , success: vm.populateUpdateForm(aProvider)
                , error: vm.onGetError
                , type: "GET"
                };

                $.ajax(url, settings);

            }

            function _submitUpdate(providerId) {


                var myData = $("#providerInformation").serialize();

                var providerData = myData + '&Id=' + providerId;

                var url = "/api/providers/" + providerId;
                var settings = {
                    cache: false
                   , contentType: "application/x-www-form-urlencoded; charset=UTF-8"
                   , data: providerData
                   , dataType: "json"
                   , success: vm.onPutSuccess
                   , error: vm.onPutError
                   , type: "PUT"

                }
                $.ajax(url, settings);


            }


            function _deleteProvider(aProvider) {


                var url = "/api/providers/" + aProvider.Id;
                var settings = {
                    cache: false
                   , contentType: "application/x-www-form-urlencoded; charset=UTF-8"
                   , dataType: "json"
                   , success: vm.onDeleteSuccess
                   , error: vm.onDeleteError
                   , type: "DELETE"

                };
                $.ajax(url, settings);

            }

            function _populateUpdateForm(aProvider) {



                vm.aProviderDetails = aProvider;
                console.log(vm.items);


            }

            function _onGetSuccess() {
                console.log("success");

            }

            function _onGetError(jqXhr, error) {
                vm.$log.log(error);
                vm.fireAlert('error', 'Try again', 'Insert failed');
            }

            function _onPutSuccess() {

                console.log("updated");

                render();
                vm.showUpdateForm = false;
                vm.fireAlert('success', vm.successfulBatches + 'Batch of addresses added to database', 'Insert successful');
            }

            function _onPutError(jqXhr, error) {
                console.log("error");

            }

            function _onDeleteSuccess(data, status, xhr) {

                render();

            }

            function _onDeleteError(jqXhr, error) {
                vm.$alertService.error("Error!", "Something went wrong");
            }

            function _cancelUpdate() {
                vm.showUpdateForm = false;

            }


            function _fireAlert(type, message, header) {
                vm.$alertService[type](message, header);
            }

            
        }]);


    </script>
}



